/* variables | spacing ---------------------- */
$sectorSpace: 120px;
$sectorSpaceSmall: $sectorSpace/6;
$sectorSpaceMedium: $sectorSpace/3;

/* variables | font-size ---------------------- */


/* variables | font-color ---------------------- */