@import '_variables.scss';

/* footer section ---------------------- */
footer {
    padding-top: $sectorSpaceMedium;
    padding-bottom: $sectorSpaceMedium;

    a {
        color: inherit;
        &:hover {
            color: inherit;
            opacity: .5;
            text-decoration: none;
        }
    }

    h3 {
        font-weight: 900;
        text-transform: uppercase;
    }
}