/* calculator ---------------------- */
#calculator-sosete-pierdute {
    background-image: url('../assets/calculator_sosete_mancate.jpg');
    background-color: #f3acb7;
    background-repeat: no-repeat;
    background-position: bottom left;

    .sidebar-calculator .card {
        margin-bottom: 20px;
        max-width: 220px;

        h4 {
            font-size: 80px;
            font-weight: 900;
        }

        p {
            line-height: 1;
        }

        #initial-calc {
            max-width: 350px;
        }

        .card-header {
            padding: 20px 40px;
        }

        .card-body {
            padding: 40px 40px 0 40px;
        }

        .form-check-group,
        .form-group {
            padding-bottom: 10px;
        }
    }
}