@import '_variables.scss';

/* Cum functioneaza section ---------------------- */
#cumfunctioneaza-body {
    margin-top: $sectorSpaceSmall;
    margin-bottom: $sectorSpaceSmall;

    & .card .card-title {
        margin-bottom: 0
    }
}