/* styles base */

.pre {
    white-space: pre-wrap;
}

.standard-section-spacing,
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section.low-margin {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.section:not(.container-fluid) + .section:not(.container-fluid):not(.standard-section-spacing) {
    padding-top: 0px;
}

.h2, h2 {
    line-height: 1;
    font-weight: 900;
}

.h3, h3 {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}
img.box {
    width: 100%;
}

.spacer {
    width: 20px;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd {
    margin-left: 180px;
}

.break-all {
    word-break: break-all;
}

.form-check-group .form-check {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.form-check-group .form-check:last-child {
    border-bottom: 0px solid transparent;
}

/* Landing section ---------------------- */
#landing {
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-image: url('../assets/landing_img.jpg');
    background-size: cover;
    position: left top;
}

#landing h1 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 20px;
}

/* Cum functioneaza section ---------------------- */
#cumfunctioneaza-body {
    margin-top: 20px;
    margin-bottom: 20px;
}

#cumfunctioneaza-body .card .card-title {
    margin-bottom: 0
}

/* model standard section ---------------------- */
#soseta-standard #soseta-unu-img {
    max-width: 200px;
}

/* footer section ---------------------- */
footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: inherit;
    opacity: 0.5;
    text-decoration: none;
}

footer h3 {
    font-weight: 900;
    text-transform: uppercase;
}

/* precomanda section ---------------------- */
.subsection {
    margin-bottom: 30px;
}

#precomandaIframe,
#precomandaText {
    border-style: solid;
    border-width: 1px 0;
    border-color: rgba(0,0,0,.125);
}

#precomandaIframe {
    flex: 0;
    border-width: 1px 1px 1px 0px;
}

#precomandaIframe ul li a {
    color: inherit;
}

#precomandaText {
    padding-left: 100px;
    /* background-color: #f9f9f9; */
    background-color: rgba(0,0,0,.03);
}

#precomandaText p {
    color:#6c757d!important;
}

.freebirdFormviewerViewFooterFooterBarLeft {
    display: none!important;
}

/* calculator ---------------------- */
#calculator-sosete-pierdute {
    background-image: url('../assets/calculator_sosete_mancate.jpg');
    background-color: #f3acb7;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#calculator-sosete-pierdute .sidebar-calculator .card {
    margin-bottom: 20px;
    max-width: 220px;
}

#calculator-sosete-pierdute .sidebar-calculator .card h4 {
    font-size: 80px;
    font-weight: 900;
}

#calculator-sosete-pierdute .sidebar-calculator .card p {
    line-height: 1;
}

#calculator-sosete-pierdute .sidebar-calculator #initial-calc {
    max-width: 350px;
}

#calculator-sosete-pierdute .calculator-form .card .card-body {
    padding: 40px 40px 0 40px;
}

#calculator-sosete-pierdute .calculator-form .card .card-header {
    padding: 20px 40px;
}

#calculator-sosete-pierdute .calculator-form .card .form-check-group,
#calculator-sosete-pierdute .calculator-form .card .form-group {
    padding-bottom: 10px;
}